.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  font-size: 1em;
  border-radius: 15px;
  color: #171717;
  width: 80%;
  min-height: 50vh;
  margin: 5% 0;
  padding: 30px;
}

.span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  max-width: 30%;
}

.func {
  background-color: #fcb67c71;
}

.eq {
  color: #63a6ff;
}

.quad {
  color: #ff63a5;
}
