.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efe9e4;
  font-size: 1em;
  color: #171717;
  width: 80%;
  /* min-width: 50%;
  max-width: 80%; */
  min-height: 50%;
  border-radius: 15px;
}

.span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.func {
  color: #ffa063;
}

.eq {
  color: #63a6ff;
}

.quad {
  color: #ff63a5;
}
