.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100vw;
  height: 10vh;
  background-color: #919191;
  position: relative;
  color: #000;
}

.footer p {
  font-size: 1em;
  color: #fff;
}

.func {
  background-color: #ffa063;
}

.eq {
  background-color: #63a6ff;
}

.quad {
  background-color: #ff63a5;
}
